@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
body {
  @apply bg-home-mobile md:bg-home-tablet lg:bg-home-desktop;
}
nav hr {
  @apply max-w-[473px] w-full justify-self-center;
}
.menu-container {
  background-color: rgb(255 255 255 / 4%);
  -webkit-backdrop-filter: blur(81.55px);
  backdrop-filter: blur(81.55px);
}
nav ul li button {
  @apply uppercase;
}
.horizontal-line {
  @apply max-w-[327px] md:max-w-[573px];
  border: none;
  border-top: 1px solid #383b4b;
  width: 100%;
  margin: 30px auto;
  /* max-width: 473px; */
}
#content {
  @apply grid grid-cols-2 items-center;
}
